@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  font-family: 'Open Sans Condensed', sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

  h1 {
    position: absolute;
  }

body {
  background-color: #eadeae;
  text-align: center;
  transition: background 500ms; }

p {
  margin-top: 45%;
  font-size: 20px; }

div {
  width: 100%;
  height: 100%; }


.center {
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px; 
}

#logo {
  position: fixed;
}

.home {
  background-color: coral;
  color: black;
  width: 200px;
  height: 200px;
  position: fixed; 
  -webkit-animation: change-shape 4s 0.5s infinite cubic-bezier(1, 0.015, 0.295, 1.225) alternate;
}

@-webkit-keyframes change-shape {
  0% {
    border-radius: 0 0 0 0;
    background: coral;
    color: darksalmon;
    transform: rotate(0deg); }
  10% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    color: indianred;
    transform: rotate(45deg); }
  20% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    color: lightcoral;
    transform: rotate(90deg); }
  30% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    color: darksalmon;
    transform: rotate(135deg); }
  40% {
    border-radius: 50%;
    color: black;
    transform: rotate(180deg); }
  50% {
    border-radius: 0 0 0 0;
    background: coral;
    color: darksalmon;
    transform: rotate(225deg); }
  60% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    color: indianred;
    transform: rotate(270deg); }
  70% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    color: lightcoral;
    transform: rotate(315deg); }
  80% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    color: darksalmon;
    transform: rotate(390deg); }
  90% {
    border-radius: 50%;
    color: black;
    transform: rotate(390deg); }
  100% {
    border-radius: 0 0 0 0;
    background: coral;
    color: darksalmon;
    transform: rotate(0deg); } }



._97 {
  background-color: #b0d0d4;
  position: absolute;
  margin-left: 100%;
  height: 100%;
  width: 100%;
  -webkit-animation: slide-right 0.8s cubic-bezier(0.205, 0.285, 0.855, 0.135) alternate; }

@-webkit-keyframes slide-right {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 100%; } }


._115 {
  background-color: #ff8888;
  position: absolute;
  margin-left: -100%;
  height: 100%;
  width: 100%;
  -webkit-animation: slide-left 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) alternate; 
}

@-webkit-keyframes slide-left {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: -100%; } }


._100 {
  height: 10px;
  width: 900px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -450px; 
  -webkit-animation: quickShow 1.5s; 
 }


@-webkit-keyframes quickShow {
  0% {
    margin-left: -100%;
    -webkit-transform-origin: 60% 100%; 
   -webkit-transform: translate(100px) rotate(20deg);
  }
  100% {
    margin-left: 100%; 
    -webkit-transform-origin: 60% 100%;
    -webkit-transform: translate(100px) rotate(360deg);
    }
  }


  ._102 {
  height: 500px;
  width: 500px;
  position: absolute;
  background-color: chartreuse;
  left: 20%;
  top: 120%;
  border-radius: 500px;
  border: 1px solid lightskyblue;
 -webkit-animation: scrollDown 1s linear;
 }

@-webkit-keyframes scrollDown {

  0% {
    top: -90%
  }
  60% {
   top: 10%;
  }
  75% {
    top: 30%;
  }
  90% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}


  ._103 {
  height: 500px;
  width: 500px;
  top: 15%;
  left: 30%;
  position: absolute;
  background-color: darkorange;
  opacity: 0;
 -webkit-animation: lampeggiante .5s linear;
 }

@-webkit-keyframes lampeggiante {

  0% {
    opacity: 1;
    -webkit-transform: rotate(5deg);
    transform: scale(.1,.1);
  }
   10% {
    opacity: 0;
    
  }
   20% {
    opacity: 1;
    
  }
   30% {
    opacity: 0;
    
  }
   40% {
    opacity: 1;
    
  }
   50% {
    opacity: 0;
    
  }
   60% {
    opacity: 1;
    
  }
   70% {
    opacity: 0;
    
  }
   80% {
    opacity: 1;
    
  }

  85% {
    opacity: 0;
    
  }
   90% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: scale(5,5);
    opacity: 0;
  }
}